 	h1 {color: black;
          background-color: silver;
          text-align: center;}
     h3 {color: white;
          background-color: black;
          text-align: center;}
    h4 {color: black;
          background-color: silver;
          text-align: center;}
     table {border-spacing: 50}
     #Playoffs {text-align: center;}
     #logo {text-align: center;}